.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; // FIX VIDEO GOING OVER MARGIN

    &__content{
        height: 100%;
        width: 100%;
        object-fit: cover; //MAKE THE VIDEO FIT THE SCREEN WITH THE PROP ABOVE
    }
}